.lead__title {
    margin: 0;
    padding: 48px 16px 0 16px;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    font-family: 'Inter', Arial, sans-serif;
}
@media screen and (min-width: 768px) {
    .lead__title {
        padding: 48px 0 0 0;
        font-size: 96px;
        line-height: 100px;
    }
}
@media screen and (min-width: 1280px) {
    .lead__title {
        padding: 56px 0 0 0;
    }
}