.place__link {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    color: #FFFFFF;
    text-decoration: underline;
    max-width: fit-content;
    margin: 0;
    padding: 0;
}
.place__link:hover {
    opacity: 0.8;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .place__link {
        margin-left: 16px;
    }
}