.place__url {
    font-family: 'Inter', Arial, sans-serif;
    color: #AAAAAA;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 2px;
    text-decoration: none;
    margin: 0;
    text-transform: uppercase;
}
@media screen and (min-width: 1024px) {
    .place__url {
        line-height: 1.7;
    }
}